<ion-content class="ion-padding page-menu">
  <div class="menu-container">
    <p class="ion-text-center">
      <ion-text color="primary">
        <h1><strong>Adivina el número</strong></h1>
      </ion-text>
      <ion-text>-- DSM Games --</ion-text>
    </p>

    <ion-card class="menu-option" mode="ios" routerLink="/game" color="primary">
      <ion-card-header>
        <ion-card-title>Jugar</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="menu-option" mode="ios" routerLink="/leaderboard" color="warning">
      <ion-card-header>
        <ion-card-title>Ranking</ion-card-title>
      </ion-card-header>
    </ion-card>

    

    <ion-button (click)="logout()" color="danger" expand="block">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content> <!-- Solo un cierre de ion-content -->
