ion-content {
    --background: url('/assets/img/fondo.jpg') no-repeat center center / cover;
  }
  
  ion-toast {
    --background: rgba(0, 0, 0, 0.8);
    --color: white;
    --border-radius: 10px;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .exit-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  ion-button {
    --border-radius: 5px;
  }
    